@import "../../_globalColor";

.achievement-main-div {
  margin-top: 80px;
}

.achievement-heading {
  font-size: 56px;
  font-weight: 400;
  line-height: normal;
  margin: 0px;
}
.achievement-subtitle {
  text-transform: uppercase;
  margin: 0px;
  margin-bottom: 50px;
}
.subTitle {
  color: $subTitle;
}

.achievement-cards-wrapper {
  overflow: hidden;
  width: 100%;
  position: relative;
  margin: 2rem 0;
}

.achievement-cards-div {
  display: flex;
  gap: 1.5rem;
  width: fit-content;
  animation: slideCertificates 30s linear infinite;
  will-change: transform;
}

@keyframes slideCertificates {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.achievement-cards-div:hover {
  animation-play-state: paused;
}

/* Media Query */
@media (max-width: 1380px) {
  .achievement-heading {
    font-size: 40px;
  }
}
@media (max-width: 768px) {
  .achievement-main-div {
    margin-top: 50px;
  }
  .achievement-heading {
    font-size: 30px;
    text-align: center;
  }
  .achievement-subtitle {
    font-size: 16px;
    line-height: normal;
    text-align: center;
  }
  .achievement-cards-div {
    gap: 1rem;
    animation-duration: 25s;
  }
}
